.main__img {
	width: 100%;
}

.main__items {
	display: grid;
	gap: 16px;
	margin-top: 20px;

	@media @tablet {
		grid-template-columns: repeat(6, 1fr);
		grid-auto-flow: dense;
	}

	@media @desktop {
		grid-template-columns: repeat(8, 1fr);
	}
}

.main__item {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 150px;
	padding: 22px 144px 16px 16px;
	background: rgba(238, 238, 238, 0.45);

	@media @tablet {
		grid-column: span 2;
		padding-right: 80px;
	}

	&--tall {
		@media @tablet {
			grid-row: span 2;
		}
	}

	&--wide {
		@media @tablet {
			grid-column: span 3;
		}

		@media @desktop {
			grid-column: span 2;
		}
	}

	&--wider {
		@media @tablet {
			grid-column: span 4;
		}

		@media @desktop {
			grid-column: span 4;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		opacity: 0.3;
	}

	&--hqd::after{
		background-image: url("../images/item-1.jpg");
	}

	&--pod::after{
		background-image: url("../images/item-2.jpg");
	}

	&--salt::after{
		background-image: url("../images/item-3.jpg");
	}

	&--electr::after{
		background-image: url("../images/item-4.jpg");
	}

	&--kat::after{
		background-image: url("../images/item-5.jpg");
	}

	&--solo::after{
		background-image: url("../images/item-6.jpg");
	}
}

.main__item-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 195%;
}

.main__item-sub {
	margin: 0 0 22px;
	font-size: 14px;
	line-height: 195%;
}

.main__item-button {
	width: 164px;
	margin-top: auto;

	@media @tablet {
		width: 180px;
	}
}
